name: Spack Install
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout dalotia
      uses: actions/checkout@v4.2.0

    - name: Set up Spack
      uses: spack/setup-spack@v2
      with:
        ref: releases/v0.23
        color: true
        path: spack
    - name: Add dalotia repo
      shell: spack-bash {0}
      run: |
        spack repo add $(pwd)/spack_repo_dalotia
        spack repo list
        spack external find
    - name: info and install dalotia
      shell: spack-bash {0}
      run: |
        spack spec dalotia
        spack info dalotia
        spack dev-build --test=root dalotia@main
        